assets/models/checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
assets/models/checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
assets/models/onnx/*.onnx filter=lfs diff=lfs merge=lfs -text
assets/models/cases/**/*.obj filter=lfs diff=lfs merge=lfs -text
